html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 0;
}

p {
  font-size: 1.2rem;
}

/* overwrites bootstrap class */
.card-deck {
  flex-flow: column;
}

.card-deck .card {
  margin-bottom: 15px;
}